# .chezmoi.toml.tmpl
# Конфигурация Chezmoi

{{- $is_wsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- if hasKey .chezmoi "kernel" -}}
    {{- if or (contains "microsoft" (lower .chezmoi.kernel.osrelease)) (contains "wsl" (lower .chezmoi.kernel.osrelease)) -}}
      {{- $is_wsl = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $has_gui := false -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $is_ssh := or (env "SSH_CLIENT") (env "SSH_TTY") (env "SSH_CONNECTION") -}}
  {{- $has_display := or (env "DISPLAY") (env "WAYLAND_DISPLAY") -}}
  {{- if and $has_display (not $is_wsl) (not $is_ssh) -}}
    {{- $has_gui = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $has_gui = true -}}
{{- end -}}

encryption = "age"

[edit]
{{ if $has_gui -}}
    command = "code"
    args = ["--wait"]
{{ else -}}
    command = "hx"
{{ end -}}

[data]
    name = "The-Old-Cat"
    email = "artkov476@gmail.com"
    is_wsl = {{ $is_wsl }}
    has_gui = {{ $has_gui }}


[age]
    identity = "{{ .chezmoi.homeDir }}/.config/age/key.txt"
    recipients = [
        "age1838zmykps32gmczv2l0w9gw0z9evu06565atvqlqfatt6d6nw53qheknzh"
    ]

{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh"
    args = ["-NoExit"]
{{ end -}}
