[edit]
    command = "code"
    args = ["--wait"]

[data]
    name = "The-Old-Cat"
    email = "artkov476@gmail.com"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/age/key.txt"
    recipients = ["age1gj9kp9zugj6psmse2vngu3r7x0yed69grhezlcfvksuvg754mq8seduk6c"]
