[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    autocrlf = input
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
