#!/usr/bin/env bash
set -euo pipefail

{{- if .has_gui }}
if ! command -v wezterm >/dev/null 2>&1; then
    echo "Installing WezTerm..."
    {{- if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian") }}
    curl -fsSL https://apt.fury.io/wez/gpg.key | sudo gpg --yes --dearmor -o /usr/share/keyrings/wezterm-fury.gpg
    echo 'deb [signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *' | sudo tee /etc/apt/sources.list.d/wezterm.list > /dev/null
    sudo apt-get update
    sudo apt-get install -y --no-install-recommends wezterm
    {{- else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch") }}
    sudo pacman -S --needed --noconfirm wezterm
    {{- else if or (eq .chezmoi.osRelease.id "altlinux") (eq .chezmoi.osRelease.idLike "altlinux") }}
    sudo apt-get update && sudo apt-get install -y wezterm
    {{- else }}
    echo "⚠ Package installation for {{ .chezmoi.osRelease.id }} is not supported directly."
    exit 0
    {{- end }}
    echo "✓ WezTerm installed"
else
    echo "WezTerm is already installed"
fi
{{- else }}
echo "Skipping WezTerm (Headless environment or WSL)"
{{- end }}
